<%= stylesheet_link_tag 'timer.css' %>
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap" rel="stylesheet">
	<title>Countdown Timer</title>
</head>

<body>
	
	<!-- Header -->
	<header>
        <h1>WE'RE LAUNCHING SOON!</h1>
    </header>

	
	<!-- Body -->
	<main class = "body">

	</main>
	
	<!-- Footer -->
	<footer>
        <div class="center-align footer-vertical-align">
            <%= link_to 'www.facebook.com', class: "social-icon" do %>
                <%= image_tag('icon-facebook.svg', alt: "Facebook")%>
        <% end %>
            <%= link_to 'www.instagram.com', class: "social-icon" do %>
                <%= image_tag('icon-instagram.svg', alt: "Instagram")%>
        <% end %>
            <%= link_to 'www.pinterest.com', class: "social-icon" do %>
                <%= image_tag('icon-pinterest.svg', alt: "Pinterest") %>
        <% end %>
        </div>
    </footer>

</body>

</html>
